
body {
  background: url(/background) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  color: #999;
  border:solid;
  padding:2vw;
  background: rgba(22,22,22, 0.8);
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

input,
textarea,
select {
    background: rgba(22,22,22, 0.8);
}

.home_icon {
  /*display: block;*/
  max-width:28px;
  max-height:28px;
  width: auto;
  height: auto;
  margin-top: -5px;
}
