<!DOCTYPE HTML>
<html>
	<head>
		{%- block head %}
		<title>PyTaranisLogo {% block title %}{% endblock %}</title>
		<meta property="og:title" content="PyTaranisLogo" />
		<meta property="og:site_name" content="Index"/>
		<meta name="description" content="Taranis boot logo creator">
		<meta property="og:description" content="Taranis boot logo creator" />

		<meta name="author" content="Marc Urben">
		<meta property="og:url" content="{{ url_for('index', _external=True) }}" />
		<meta property="og:image" content="{{ url_for('favicon', _external = True) }}" />

		<meta name="fragment" content="!">
		<meta name="keywords" content="taranis,logo,fpv,fpvracing,fpvacro" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta property="og:locale" content="en_US" />
		<meta property="og:locale:alternate" content="de_DE" />
		{# Favicon -#}
		<link rel="shortcut icon" href="{{ url_for('favicon') }}">
		{# jQuery and jQueryUI -#}
		<link href="{{ url_for('static', filename='jquery/jquery-ui.css') }}" rel="stylesheet" />
		<link href="{{ url_for('static', filename='jquery/jquery-ui.structure.min.css') }}" rel="stylesheet" />
		<link href="{{ url_for('static', filename='jquery/jquery-ui.theme.min.css') }}" rel="stylesheet" />

		{# Bootstrap -#}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		{# Font Awesome -#}
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" />
		{# PyTaranisLogo internal stuff -#}
		<link href="{{ url_for('static', filename='pytaranislogo.css') }}" rel="stylesheet" media="all" type="text/css" />
		{%- endblock %}
	</head>
	<body>
		<div class="content">
			{%- block content %}{% endblock -%}
			{%- with messages = get_flashed_messages(category_filter=["success"]) %}
				{%- if messages %}
					<div title="Success message">
					{%- for message in messages %}
						<div>{{ message }}</div>
					{% endfor -%}
					</div>
				{% endif -%}
			{% endwith -%}
			{%- with messages = get_flashed_messages(category_filter=["error"]) %}
				{%- if messages %}
					<div title="Error message">
					{%- for message in messages %}
						<div>{{ message }}</div>
					{% endfor -%}
					</div>
				{% endif -%}
			{% endwith -%}
			{%- with messages = get_flashed_messages(category_filter=["info"]) %}
				{%- if messages %}
					<div title="Info message">
					{%- for message in messages %}
						<div>{{ message }}</div>
					{% endfor -%}
					</div>
				{% endif -%}
			{% endwith -%}
		</div>
	</body>
</html>
