{%- extends "base.html" -%}
{%- block title %}Taranis X9 Boot Logo creator{% endblock -%}
{%- block content -%}
<h2>Taranis Boot Logo creator</h2>
<img src="{{ url_for('example_image') }}"><br />
<br />
<dl>
	<dd>Sites <select onChange="window.location.href=this.value">
		{%- for site in values.sites %}
	    <option value="http://{{ site.url }}"{% if site.selected==True %} selected="selected"{% endif %}>{{ site.name }}</option>
		{%- endfor %}
	</select></dd>
	<form action="{{ url_for('setFlavour') }}" if="flavour" method="post">
	<dd>Taranis model <select onchange="this.form.submit()" name="flavour" size="1">
		{%- for flavour in values.flavours %}
		<option{% if session.flavour==flavour %} selected="selected"{% endif %}>{{ flavour }}</option>
		{%- endfor %}
	</select></dd>
	</form>
	<form action="{{ url_for('image_render') }}" id="render" method="post" autocomplete="on">
	<dd><input type="text" name="title" class="backend" value="{{ values.title }}" autofocus="autofocus"></dd>
	<dd><input type="text" name="surname" class="backend" value="{{ values.surname }}"></dd>
	<dd><input type="text" name="prename" class="backend" value="{{ values.prename }}"></dd>
</dl>
<button class="btn btn-default" type="submit">Submit</button> <button class="btn btn-default" type="reset">Reset</button>
</form>

<h3>About</h3>
This is a small web application to render customized Taranis boot logos.<br />
The sourcecode is opensource an can be found <a href="https://github.com/oxivanisher/PyTaranisLogo" target="_blank">here</a>.<br />
Have fun, oXiVanisher <a href="https://oxi.ch" target="_blank">https://oxi.ch</a>.

{% if config.MY_CONFIGURATION != "" %}
<h3>Advertisement to support me</h3>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Homepage Werbung -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="{{ GOOGLEAD_CLIENT }}"
     data-ad-slot="{{ GOOGLEAD_SLOT }}"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}
{% endblock %}
