{%- extends "base.html" -%}
{%- block title %}Taranis X9 Boot Logo creator{% endblock -%}
{%- block content -%}
<div class="content">
	<form action="{{ url_for('image_render') }}" id="render" method="post" autocomplete="on">
	<h2>Taranis X9 Boot Logo creator</h2>
	<br />
	<img src="{{ url_for('example_image') }}"><br />
	<br />
	<dl>
		<dd><input type="text" name="title" class="backend" value="{{ values.title }}" autofocus="autofocus">
		<dd><input type="text" name="surname" class="backend" value="{{ values.surname }}">
		<dd><input type="text" name="prename" class="backend" value="{{ values.prename }}">
	</dl>
	<button class="btn btn-default" type="submit">Submit</button> <button class="btn btn-default" type="reset">Reset</button>
	</form>
</div>

<div class="content"><h2>PyTaranisLogo</h2>
This is a small web application to render customized Taranis boot logos.<br />
The sourcecode is opensource an can be found <a href="https://github.com/oxivanisher/PyTaranisLogo" target="_blank">here</a>.<br />
<br />
Have fun,<br />
oXiVanisher, <a href="https://oxi.ch" target="_blank">https://oxi.ch</a>.
</div>

{% endblock %}
