defaults:
  extension: bmp
  defaultInstance: default
  defaultFavicon: https://example.com/favicon.ico
  resourcesPath: resources/
  destinationPath: output/
  prename: Hans
  surname: Mustermann
instances:
  default:
    backgroundImage: default-bg.jpg
    titleText: default instance
    ssl: True
    urls:
      - taranis.example.com
    flavours:
      X9:
        logoImage: default-x9.bmp
        exampleImage: default-x9.png
        texts:
          title:
            font: FREESCPT.TTF
            size: 20
            width: 5
            height: 8
          prename:
            font: FREESCPT.TTF
            size: 20
            width: 165
            height: 33
          surname:
            font: FREESCPT.TTF
            size: 20
            width: 142
            height: 13
      X7:
        logoImage: default-x7.bmp
        exampleImage: default-x7.png
        texts:
          title:
            font: FREESCPT.TTF
            size: 20
            width: 2
            height: 0
          prename:
            font: FREESCPT.TTF
            size: 20
            width: 50
            height: 40
          surname:
            font: FREESCPT.TTF
            size: 20
            width: 50
            height: 20

  additional:
    backgroundImage: default-bg.jpg
    titleText: additional instance
    ssl: False
    urls:
      - additional.example.com
    flavours:
      X9:
        logoImage: additional-x9.bmp
        exampleImage: additional-x9.png
        texts:
          title:
            font: FREESCPT.TTF
            size: 20
            width: 5
            height: 8
          prename:
            font: FREESCPT.TTF
            size: 20
            width: 165
            height: 33
          surname:
            font: FREESCPT.TTF
            size: 20
            width: 142
            height: 13
